main{
    width: 100%;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgb(226, 226, 226);
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

h1 {
    margin: 0 0 20px 0;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 5px;
    width: calc(100% - 22px);
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.add{
    background: rgb(5, 156, 5);
    font-size: 1rem;
}
.add:hover{
    background: green;
}
button {
    padding: 10px;
    border: none;
    background: #c35858;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background: #792020;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #a6a6a6;
    gap: 5px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}
p{
    margin-bottom: 0px;
}